In [2]:
import sqlite3
import pandas

TypeError: read_sql() missing 1 required positional argument: 'con'

In [9]:

fileSql= "/Users/berk/Desktop/TimeLapse_Databases/11/Final_Season_1_Data_Template_Structure_REV2_SIMPLIFIED.ddb"
# Create a SQL connection to our SQLite database
con = sqlite3.connect(fileSql)

cur = con.cursor()

# The result of a "cursor.execute" can be iterated over by row
# for row in cur.execute('SELECT * FROM dataTable;'):
#     print(row)

# Be sure to close the connection
# con.close()
#

In [11]:
a=pandas.read_sql('SELECT * FROM dataTable;',con)

In [18]:

for r in cur.execute("SELECT name FROM sqlite_master WHERE type='table'"):
    print(r)

('TemplateTable',)
('sqlite_sequence',)
('ImageSetTable',)
('MarkersTable',)
('DataTable',)

In [19]:
a[:2]

,Id,File,RelativePath,Folder,DateTime,UtcOffset,Date,Time,ImageQuality,DeleteFlag,...,Movement_Rate,Comment,Snow_Cover,Camera_Failure,Not_Counted,Waterfowl,Upland_Game_Bird,Songbird,Sea_Shore_Bird,Bird_of_Prey
0,1,RCNX0001.JPG,S11_5.6-6.7,11,2019-05-06T23:27:59.000Z,-8.0,06-May-2019,15:27:59,Ok,false,...,false,,,,false,false,false,false,false,false
1,2,RCNX0002.JPG,S11_5.6-6.7,11,2019-05-06T23:28:09.000Z,-8.0,06-May-2019,15:28:09,Ok,false,...,false,,,,false,false,false,false,false,false