In [1]:
import sqlite3
import pandas

In [2]:

fileSql= "/home/enis/projects/similarSoundsApp/resources/TimeLapse_Databases/11/Final_Season_1_Data_Template_Structure_REV2_SIMPLIFIED.ddb"
# Create a SQL connection to our SQLite database
con = sqlite3.connect(fileSql)

cur = con.cursor()

# The result of a "cursor.execute" can be iterated over by row
# for row in cur.execute('SELECT * FROM dataTable;'):
#     print(row)

# Be sure to close the connection
# con.close()
#

In [3]:
a=pandas.read_sql('SELECT * FROM dataTable;',con)

In [5]:
all2=[]
for r in cur.execute("SELECT name FROM sqlite_master WHERE type='table'"):
    all2.append(pandas.read_sql('SELECT * FROM {};'.format(r[0]),con))
    print(r)

('TemplateTable',)
('sqlite_sequence',)
('ImageSetTable',)
('MarkersTable',)
('DataTable',)

In [14]:
all2[4]

,Id,File,RelativePath,Folder,DateTime,UtcOffset,Date,Time,ImageQuality,DeleteFlag,...,Movement_Rate,Comment,Snow_Cover,Camera_Failure,Not_Counted,Waterfowl,Upland_Game_Bird,Songbird,Sea_Shore_Bird,Bird_of_Prey
0,1,RCNX0001.JPG,S11_5.6-6.7,11,2019-05-06T23:27:59.000Z,-8.0,06-May-2019,15:27:59,Ok,false,...,false,,,,false,false,false,false,false,false
1,2,RCNX0002.JPG,S11_5.6-6.7,11,2019-05-06T23:28:09.000Z,-8.0,06-May-2019,15:28:09,Ok,false,...,false,,,,false,false,false,false,false,false
2,3,RCNX0003.JPG,S11_5.6-6.7,11,2019-05-06T23:28:19.000Z,-8.0,06-May-2019,15:28:19,Ok,false,...,false,,,,false,false,false,false,false,false
3,4,RCNX0004.JPG,S11_5.6-6.7,11,2019-05-06T23:28:49.000Z,-8.0,06-May-2019,15:28:49,Ok,false,...,false,,,,false,false,false,false,false,false
4,5,RCNX0005.JPG,S11_5.6-6.7,11,2019-05-06T23:28:59.000Z,-8.0,06-May-2019,15:28:59,Ok,false,...,false,,,,false,false,false,false,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40593,40594,RCNX7452.JPG,S11_8.10-9.4,11,2019-09-05T00:48:32.000Z,-8.0,04-Sep-2019,16:48:32,Ok,false,...,false,,,,false,false,false,false,false,false
40594,40595,RCNX7453.JPG,S11_8.10-9.4,11,2019-09-05T00:49:02.000Z,-8.0,04-Sep-2019,16:49:02,Ok,false,...,false,,,,false,false,false,false,false,false
40595,40596,RCNX7454.JPG,S11_8.10-9.4,11,2019-09-05T00:49:12.000Z,-8.0,04-Sep-2019,16:49:12,Ok,false,...,false,,,,false,false,false,false,false,false
40596,40597,RCNX7455.JPG,S11_8.10-9.4,11,2019-09-05T00:49:22.000Z,-8.0,04-Sep-2019,16:49:22,Ok,false,...,false,,,,false,false,false,false,false,false
40597,40598,RCNX7456.JPG,S11_8.10-9.4,11,2019-09-05T00:49:52.000Z,-8.0,04-Sep-2019,16:49:52,Ok,false,...,false,,,,false,false,false,false,false,false

In [19]:
a[:2]

,Id,File,RelativePath,Folder,DateTime,UtcOffset,Date,Time,ImageQuality,DeleteFlag,...,Movement_Rate,Comment,Snow_Cover,Camera_Failure,Not_Counted,Waterfowl,Upland_Game_Bird,Songbird,Sea_Shore_Bird,Bird_of_Prey
0,1,RCNX0001.JPG,S11_5.6-6.7,11,2019-05-06T23:27:59.000Z,-8.0,06-May-2019,15:27:59,Ok,false,...,false,,,,false,false,false,false,false,false
1,2,RCNX0002.JPG,S11_5.6-6.7,11,2019-05-06T23:28:09.000Z,-8.0,06-May-2019,15:28:09,Ok,false,...,false,,,,false,false,false,false,false,false

In [4]:
ImageSetTable = pandas.read_sql('SELECT * FROM ImageSetTable;',con)
ImageSetTable.iloc[0]

In [10]:
ImageSetTable.iloc[0]

Id                                              1
Log                                 Add text here
Magnifier                                   false
Row                                          6105
Filter                                          4
WhiteSpaceTrimmed                            true
TimeZone                    Alaskan Standard Time
VersionCompatabily                        2.2.3.2
SortTerms             Id,Id, INTEGER ,true,,,true
SelectedFolder
QuickPasteXML                 <Entries></Entries>
Name: 0, dtype: object

In [14]:
table = pandas.read_sql('SELECT * FROM DataTable;',con)
table.iloc[0]

Id                                         1
File                            RCNX0001.JPG
RelativePath                     S11_5.6-6.7
Folder                                    11
DateTime            2019-05-06T23:27:59.000Z
UtcOffset                                 -8
Date                             06-May-2019
Time                                15:27:59
ImageQuality                              Ok
DeleteFlag                             false
Caribou                                    0
Bear                                       0
Fox                                        0
Wolf                                       0
Muskox                                     0
Misc_Land_Animal                           0
Human                                      0
Other                                      0
Publicity                              false
First_Calf                             false
Movement_Rate                          false
Comment
Snow_Cover
Camera_Failure
Not_Counted                            false
Waterfowl                              false
Upland_Game_Bird                       false
Songbird                               false
Sea_Shore_Bird                         false
Bird_of_Prey                           false
Name: 0, dtype: object